src/GrouponDesktop.suo
src/GrouponDesktop/bin/Debug/en/GrouponDesktop.resources.dll
src/GrouponDesktop/bin/Debug/GrouponDesktop.exe
src/GrouponDesktop/bin/Debug/GrouponDesktop.pdb
src/GrouponDesktop/obj/Debug/GrouponDesktop.AbmCliente.CreateCustomerForm.resources
src/GrouponDesktop/obj/Debug/GrouponDesktop.AbmCliente.ModifCliente.resources
src/GrouponDesktop/obj/Debug/GrouponDesktop.csproj.FileListAbsolute.txt
src/GrouponDesktop/obj/Debug/GrouponDesktop.csproj.GenerateResource.Cache
src/GrouponDesktop/obj/Debug/GrouponDesktop.exe
src/GrouponDesktop/obj/Debug/GrouponDesktop.pdb
src/GrouponDesktop/obj/Debug/ResolveAssemblyReference.cache
src/GrouponDesktop.suo
src/GrouponDesktop/bin/Debug/en/GrouponDesktop.resources.dll
src/GrouponDesktop/bin/Debug/GrouponDesktop.exe
src/GrouponDesktop/bin/Debug/GrouponDesktop.pdb
src/GrouponDesktop/obj/Debug/en/GrouponDesktop.resources.dll
src/GrouponDesktop/obj/Debug/GrouponDesktop.AbmCliente.CreateCustomerForm.resources
src/GrouponDesktop/obj/Debug/GrouponDesktop.AbmCliente.ModifCliente.resources
src/GrouponDesktop/obj/Debug/GrouponDesktop.csproj.FileListAbsolute.txt
src/GrouponDesktop/obj/Debug/GrouponDesktop.csproj.GenerateResource.Cache
src/GrouponDesktop/obj/Debug/GrouponDesktop.exe
src/GrouponDesktop/obj/Debug/GrouponDesktop.pdb
src/GrouponDesktop/obj/Debug/ResolveAssemblyReference.cache
src/GrouponDesktop/obj/Debug/GrouponDesktop.AbmCliente.BusquedaElimClienteForm.resources
src/GrouponDesktop/obj/Debug/GrouponDesktop.csproj.FileListAbsolute.txt
src/GrouponDesktop/obj/Debug/ResolveAssemblyReference.cache
